/* Estilos para a logo */
.logo {
    width: 250px; /* Defina o tamanho desejado para a logo */
    height: auto; /* Mantém a proporção original da imagem */
    display: block; /* Define a logo como um bloco para poder centralizá-la horizontalmente */
    margin: 0 auto; /* Define margens automáticas para centralizar a logo horizontalmente */
    font-family: Arial, Helvetica, sans-serif;
}

.BtnPaginaInicial{
    display: inline-block;
    background-color: #78C22A; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    border-radius: 0px; /* Borda arredondada do botão */
    transition: background-color 0.3s; /* Transição suave ao passar o mouse sobre o botão */
}

.footer {
    background-color: #78C22A; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto do rodapé */
    text-align: center; /* Alinhamento do texto centralizado */
    padding: 1px 0; /* Espaçamento interno superior e inferior */
}

div.gallery {
    display: inline-block;
    margin: auto;
    border: 1px solid #ccc;
    width: 350px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    margin: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.container {
    width: 80%; /* Define a largura do contêiner */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px; /* Adiciona espaço interno */
    background-color: #78C22A; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    font-family: Arial, Helvetica, sans-serif; /* Fonte */
}